<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
<div id="login">
    <form name='form-login'>
        <h3>Login</h3>
        <span class="fontawesome-user"></span>
        <input type="text" name="user" placeholder="Username" [(ngModel)]="login.username" required>

        <span class="fontawesome-lock"></span>
        <input type="password" name="pass" placeholder="Password" [(ngModel)]="login.password" required>


        <a routerLink="">
            <button id="register" type="submit" (click)="loginUser()">Login</button>
        </a>
        <a routerLink="">
            <button id="cancel" type="submit">Cancelar</button>
        </a>

    </form>
</div>