<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
<div id="login">
    <form name='form-login'>
        <h3>Login</h3>
        <span class="fontawesome-user"></span>
        <input type="text" id="user" placeholder="Username">

        <span class="fontawesome-lock"></span>
        <input type="password" id="pass" placeholder="Password">

        <input type="submit" value="Login" text-align="center">

    </form>
</div>