<app-header></app-header>

<section class="event_part section_padding">
  <section class="event_part section_padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="owl-item active" style="width: 1140px; margin-right: 40px;"><div class="single_event_slider">
                <div class="row justify-content-end">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Colombia&t=&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                        </div>
                        <style>
                        .mapouter{position:relative;text-align:right;height:500px;width:500px;}
                        .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}
                        </style>
                    </div>
                    <div class="ol-lg-6 col-md-6">
                        <div class="event_slider_content">
                            <h5>Tour #1</h5>
                            <h2>Tour por el centro</h2>
                            <p>Ciudad: <span>Bogotá</span></p>
                            <p>Categoria: <span>Museos</span></p>
                            <p>Precio: <span> $820</span> </p>
                            <div>
                                <ul style="list-style-type:none;">
                                    <li><p>1. Plaza de bolivar.</p></li>
                                </ul>
                            </div>
                            <a href="#" class="btn_1 far fa-paper-plane "> Contactame</a>
                        </div>
                    </div>
                </div>
            </div></div>
            </div>
        </div>
    </div>
</section>
</section>
<section class="event_part section_padding">
  <section class="event_part section_padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="owl-item active" style="width: 1140px; margin-right: 40px;"><div class="single_event_slider">
                <div class="row justify-content-end">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Colombia&t=&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                        </div>
                        <style>
                        .mapouter{position:relative;text-align:right;height:500px;width:500px;}
                        .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}
                        </style>
                    </div>
                    <div class="ol-lg-6 col-md-6">
                        <div class="event_slider_content">
                            <h5>Tour #1</h5>
                            <h2>Tour por el centro</h2>
                            <p>Ciudad: <span>Bogotá</span></p>
                            <p>Categoria: <span>Museos</span></p>
                            <p>Precio: <span> $820</span> </p>
                            <div>
                                <ul style="list-style-type:none;">
                                    <li><p>1. Plaza de bolivar.</p></li>
                                </ul>
                            </div>
                            <a href="#" class="btn_1 far fa-paper-plane "> Contactame</a>
                        </div>
                    </div>
                </div>
            </div></div>
            </div>
        </div>
    </div>
</section>
</section>
<section class="event_part section_padding">
  <section class="event_part section_padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="owl-item active" style="width: 1140px; margin-right: 40px;"><div class="single_event_slider">
                <div class="row justify-content-end">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Colombia&t=&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                        </div>
                        <style>
                        .mapouter{position:relative;text-align:right;height:500px;width:500px;}
                        .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}
                        </style>
                    </div>
                    <div class="ol-lg-6 col-md-6">
                        <div class="event_slider_content">
                            <h5>Tour #1</h5>
                            <h2>Tour por el centro</h2>
                            <p>Ciudad: <span>Bogotá</span></p>
                            <p>Categoria: <span>Museos</span></p>
                            <p>Precio: <span> $820</span> </p>
                            <div>
                                <ul style="list-style-type:none;">
                                    <li><p>1. Plaza de bolivar.</p></li>
                                </ul>
                            </div>
                            <a href="#" class="btn_1 far fa-paper-plane "> Contactame</a>
                        </div>
                    </div>
                </div>
            </div></div>
            </div>
        </div>
    </div>
</section>
</section>



<app-footer></app-footer>
