<app-header></app-header>
<section class="hotel_list section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="section_tittle text-center">
          <h2>Bienvenido a Mis Toures</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let tour of tours" class="col-lg-4 col-sm-6" >
        <div class="single_ihotel_list">
          <img src="assets/img/ind/industries_1.png" alt="">
          <div class="hotel_text_iner">
            <h3> <a href="#"> {{tour.name}}</a></h3>
            <div class="place_review">
              <a href="#"><i class="fas fa-star"></i></a>
              <a href="#"><i class="fas fa-star"></i></a>
              <a href="#"><i class="fas fa-star"></i></a>
              <a href="#"><i class="fas fa-star"></i></a>
              <a href="#"><i class="fas fa-star"></i></a>
            </div>
            <p>London, United Kingdom</p>
            <h5>From <span>${{tour.price}} COP</span></h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
