<body>
    <section id=contenedor *ngFor="let tour of tours">

        <header></header>
        <section id=info-toures>

            <div id=Nombre-tour align="center">
                <h3>Nombre del tour: {{tour.name}} </h3>
            </div>
            <div id=Precio align="center">
                <h3>Costo: {{tour.price}} </h3>
            </div>
        </section>
        <section id=separador1></section>
        <main>
            <div class="grid-container">
                <div class="Img-mapa">
                    <img src="https://bogota.gov.co/sites/default/files/u3883/recorrido_metro.jpg" alt="un gia." class="responsive">
                </div>
                <div class="Info-tour">
                    <div class="Lisato-puntos">
                        <h4>Listado de lugares a visitar</h4>
                        <div id=listado>
                            <ol>
                                <li>Museo del Oro</li>
                                <li>La candelaria</li>
                                <li>Chorro de Quevedo</li>
                            </ol>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <section id=separador1></section>


    </section>
    <!-- contenedor-->


</body>