<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>

<div id="modificarDatos">
  <form name='form-modificar'>
    <h3>Perfil</h3>

    <span></span>
    <input type="text" id="name" placeholder="Nombres" [(ngModel)]=user.name>

    <span></span>
    <input type="text" id="lastname" placeholder="Apellidos" [(ngModel)]=user.last_name>

    <span></span>
    <input type="text" name="email" placeholder="Email" [(ngModel)]=user.email>

    <span></span>
    <input type="text" id="phone" placeholder="Teléfono" [(ngModel)]=user.phone>

    <span></span>
    <span></span>
    <button (click)="updateUser()">Actualizar datos</button>
    <br>
    <span></span>
    <input type="submit" name="" value="Cancelar">

  </form>
</div>
