/* Elementos importados*/

/* Estilos CSS*/
@import url(https://weloveiconfonts.com/api/?family=brandico);
@import url(https://weloveiconfonts.com/api/?family=fontawesome);


/*Maquetado*/
*{
    border:0;
    margin:0;
    padding:0;

}

body{
background: grey
}

#contenedor{
    background: white;
    height:584px;
    width:780px;
    margin-right:auto;
    margin-left:auto;
}

header{

    height:60px;
    width:780px;

}

#infoguia{
    height:60px;
    width:780px;
}

#separador1{
    height:30px;
    width:780px;
}

main #imagen{
    height:280px;
    width:390px;
    display: inline-block;
}

main #categorias{
    height:280px;
    width:390px;
    display: inline-block;
}

#redes{
    height:120px;
    width:780px;
}

/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
  }

#Botones-redes{
    width:390px;
    margin-top: 20px;
    margin-left: 20px;
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }

.mistours-boton {
    background-color: #898989;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 20px;
    cursor: pointer;
}

/* Grid redes sociales */

.grid-redes {
    display: grid;
    grid-template-columns: 390px 390px;
    grid-template-rows: 120px;
    grid-template-areas: "redes-sociales Mis-tours";
  }
  
  .redes-sociales { grid-area: redes-sociales; }
  
  .Mis-tours { grid-area: Mis-tours; }

/*CSS de la imagen del guia*/

.responsive {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    max-width:330px;
    height: 100%;
    max-height:280px;
  }

#redesSociales{

    margin-left: 20px;
}

/*Grid Categorias*/

.grid-categorias {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
  }
  .grid-categoria {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 10px;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 390px 390px;
    grid-template-rows: 280px;
    grid-template-areas: "foto-guia categorias";
  }
  
  .foto-guia { grid-area: foto-guia; }
  
  .categorias { 
      grid-area: categorias;
      margin-top: 35px;
  }