/* Elementos importados*/

/* Estilos CSS*/
@import url(https://weloveiconfonts.com/api/?family=brandico);
@import url(https://weloveiconfonts.com/api/?family=fontawesome);


/*Maquetado*/
*{
    border:0;
    margin:0;
    padding:0;

}

body{
background: #eeeef1
}

#contenedor{
    background: #eeeef1;
    height:584px;
    width:780px;
    margin-right:auto;
    margin-left:auto;
}

header{

    height:60px;
    width:780px;

}

#infoguia{
    height:60px;
    width:780px;
}

#separador1{
    height:30px;
    width:780px;
}

main #imagen{
    height:280px;
    width:390px;
    display: inline-block;
}

main #categorias{
    height:280px;
    width:390px;
    display: inline-block;
}

#redes{
    height:120px;
    width:780px;
}

/* CSS del Guia*/
#redes #Abajo-izq{
    height:50px;
    width:390px;
    display: inline-block;
    margin-bottom: 20px;
}
#redes #Abajo-der{
    height:120px;
    width:390px;
    display: inline-block;
}

/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
  }

#Botones-redes{
    width:390px;
    margin-top: 20px;
    margin-left: 20px;
}

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }

.mistours-boton {
    background-color: #898989;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 20px;
    cursor: pointer;
}

/* Grid redes sociales */

.grid-redes {
    display: grid;
    grid-template-columns: 390px 390px;
    grid-template-rows: 120px;
    grid-template-areas: "redes-sociales Mis-tours";
  }
  
  .redes-sociales { grid-area: redes-sociales; }
  
  .Mis-tours { grid-area: Mis-tours; }

/*CSS de la imagen del guia*/

.responsive {
    width: 100%;
    max-width:390px;
    height: 100%;
    max-height:280px;
  }