
<body>
        <section id=contenedor>
                
                <header></header>
                <section id=infoguia>
                        <div align="center">
                                <h3 >Pepito Perez.</h3>
                                <p>Tu mejor guia para la ciudad.</p>                                        
                        </div>
                        
                </section>
                <section id=separador1></section>
                <main>
                    <article id=imagen>
                                <img src="https://image.freepik.com/iconos-gratis/perfil-macho-sombra-de-usuario_318-40244.jpg" alt="un gia." class="responsive">
                    </article>
                    <article id=categorias></article>                    
                </main>
                <section id=separador1></section>
                <section id=redes>   
                        <div class="grid-redes">
                                <div class="redes-sociales">
                                        <h4>Mis redes sociales</h4>
                                        <div id=Botones-redes>
                                                <ul>
                                                        <li class="brandico-facebook-rect">Este es mi facebook</li>
                                                        <li class="brandico-instagram">Este es mi Instagram</li>
                                                        <li class="brandico-twitter-bird">Este es mi Twitter</li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="Mis-tours" align="center">
                                        <a href="#" class="mistours-boton fontawesome-suitcase"> Mis tures</a>
                                </div>
                        </div>             
                </section>
            
            
            </section> <!-- contenedor-->
 

</body>

