<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>

<div id="updateUser">
  <form name='form-update'>
    <h3>Actualizacion de Datos</h3>

    <span></span>
    <input type="text" id="name" placeholder="Nombres" [(ngModel)]="userUpdating.first_name"[ngModelOptions]="{standalone: true}" >

    <span></span>
    <input type="text" id="lastname" placeholder="Apellidos" [(ngModel)]="userUpdating.last_name" [ngModelOptions]="{standalone: true}" >



    <span></span>
    <input type="text" id="phone" placeholder="Teléfono" [(ngModel)]="userUpdating.phone" [ngModelOptions]="{standalone: true}">

    <span></span>
    <span></span>
    <button (click)="updateUser()">Actualizar datos</button>
    <br>
    <span></span>
    <input type="submit" name="" value="Cancelar">

  </form>
</div>
